@import './../../../styles.scss';

$valid: #70E61C;
$invalid: #E61C40;

:host {
  border: 2px dashed blue;
  width: 100%;
  max-width: 100vw;
  @include flexBox();
}

section {
  border: 2px dashed red;
  scroll-margin-top: 120px;
  background-image: url(./../../../assets/img/5_contact_section/shadow.png);
  background-repeat: no-repeat;
  background-position: bottom -300px left;
  @include contentWidth();
  @include flexBox($fd: column);
  >div:first-of-type {
    border: 2px dashed yellow;
    @include flexBox($jc: flex-start);
    width: 100%;
    >div {
      height: 4px;
      width: 50px;
      margin-right: 50px;
      background-color: $firstColor;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    >h1 {
      font-size: 90px;
      transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    }
  }
  >div:last-of-type {
    border: 2px dashed green;
    width: 100%;
    margin-top: 64px;
    margin-bottom: 100px;
    @include flexBox($ai: unset);
    padding: 0 $paddingLR;
    >div:first-of-type {
      border: 2px dashed orange;
      width: 50%;
      >div {
        max-width: 480px;
        margin-right: 32px;
        >h4 {
          font-size: 32px;
        }
        >p {
          line-height: 1.25;
          margin-top: 32px;
          margin-bottom: 24px;
        }
      }
    }
    >div:last-of-type {
      border: 2px dashed purple;
      width: 50%;
      @include flexBox($fd: column, $gap: 40px);
      transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
      >div {
        width: 100%;
        @include flexBox($jc: flex-end);
        button {
          width: 40px;
          height: 40px;
          background-image: url(./../../../assets/img/5_contact_section/arrow_up.png);
          background-position: center;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          &:hover {
            background-image: url(./../../../assets/img/5_contact_section/arrow_up_hover.png);
            cursor: pointer;
          }
        }
      }
    }
  }
}

form {
  @include flexBox($fd: column);
  width: 100%;
  >div:first-of-type {
    @include flexBox($fd: column, $gap: 32px);
    width: 100%;
    >div {
      width: 100%;
      @include flexBox($fd: column, $ai: flex-start, $gap: 6px);
      >input, >textarea {
        width: 100%;
        background-color: $bgColor;
        border: 1px solid $firstColor;
        outline-color: $secondColor;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        resize: vertical; 
        &::placeholder {
          color: white;
        }
        &:hover {
          cursor: pointer;
          border: 1px solid $secondColor;
        }
        &:focus-visible {
          outline: 1px solid $secondColor;
          border: 1px solid $secondColor;
        }
        &::-webkit-resizer {
         background-image: url(./../../../assets/img/5_contact_section/resizer.png);
         background-repeat: no-repeat;
        }
      }
      >textarea {
        min-height: 200px;
      }
      >span {
        font-size: 14px;
        color: $invalid;
      }
    }
  }
  >div:last-of-type{
    @include flexBox($fd: column, $ai: unset);
    width: 100%;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 32px;
    >div {
      @include flexBox($gap: 8px, $ai: unset);
      input {
        appearance: none; 
        -webkit-appearance: none;
        -moz-appearance: none; 
        width: 24px;
        height: 24px; 
        background-image: url(./../../../assets/img/5_contact_section/checkbox.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover {
          background-image: url(./../../../assets/img/5_contact_section/checkbox_hover.png);
        }
        &:checked {
          background-image: url(./../../../assets/img/5_contact_section/checkbox_checked.png);
        }
        &:checked:hover {
          background-image: url(./../../../assets/img/5_contact_section/checkbox_checked_hover.png);
        }
      }
      >span  {
        width: 100%;
        a {
          text-decoration: none;
          color: $firstColor;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    >span {
      color: $invalid;
    }
  }
  >button {
    @include button();
  }
}

.invalid {
  border: 1px solid $invalid !important;
  outline-color: $invalid !important;
  background-image: url(./../../../assets/img/5_contact_section/invalid.png);
  background-position: right 20px top 10px;
  background-repeat: no-repeat;
  &:focus-visible {
    outline: 1px solid $invalid !important;
    border: 1px solid $invalid !important;
  }
}

.valid {
  border: 1px solid $valid !important;
  outline-color: $valid !important;
  background-image: url(./../../../assets/img/5_contact_section/valid.png);
  background-position: right 20px top 10px;
  background-repeat: no-repeat;
  &:focus-visible {
    outline: 1px solid $valid !important;
    border: 1px solid $valid !important;
  }
}

.disabled {
  background-color: grey !important;
}

@media(max-width: 1440px) {
  section {
    >div:first-of-type {
      >h1 {
        font-size: clamp(50px, 6.5vw, 90px);
      }
    }
  }
}

@media(max-width: 1000px) {
  section {
    background-position: bottom -400px left -50px;
    >div:first-of-type {
      >div {
        width: 32px;
        margin-right: 18px;
      }
    }
    >div:last-of-type {
      padding: 0 $paddingLR1000;
    }
  }
}

@media(max-width: 720px) {
  section {
    >div:last-of-type {
      @include flexBox($fd: column, $gap: 48px);
      >div:first-of-type {
        width: 100%;
        padding-right: unset;
      }
      >div:last-of-type {
        width: 100%;
      }
    }
  }
}

@media(max-width: 500px) {
  section {
    background-position: bottom -500px left -100px;
    >div:first-of-type {
      >div {
        width: 16px;
        margin-right: 4px;
      }
      >h1 {
        font-size: clamp(40px, 10vw, 60px);
      }
    }
    >div:last-of-type {
      padding: 0 $paddingLR500;
    }
  }

  form {
    >button {
      @include button($mobile: true);
    }
  }
}