<section id="contact">
  <div>
    <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#contact"></div>
    <h1 data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-anchor="#contact">Contact</h1>
  </div>
  <div>
    <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="2000" data-aos-anchor="#contact">
      <h4>Got a problem to solve?</h4>
      <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
      <span>Need a Frontend developer? <b>Contact me!</b></span>
    </div>
    <div data-aos="fade-left" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#contact">
      <form action="">
        <div>
          <input type="" placeholder="Your name">
          <input type="email" placeholder="Your email">
          <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
        </div>
        <div>
          <input type="checkbox">
          <span>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</span>
        </div>
        <button>Send message 🙂</button>
      </form>    
      <div>
        <button></button>
      </div>
    </div>
  </div>
</section>