@import './../../../../styles.scss';

:host {
  width: 100%;
  max-width: 100vw;
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 29, 47, 0.8);
  backdrop-filter: blur(20px);
  @include flexBox();
}

header {
  @include contentWidth();
  @include flexBox($jc: space-between);
  padding: 40px $paddingLR;
  >a {
    @include flexBox($gap: 16px);
    text-decoration: none;
    span {
      font-size: 32px;
      font-weight: 700;
      &::first-letter {
        color: $secondColor;
      }
    }
    &:hover {
      cursor: pointer;
    }

  }
}

@media (max-width: 1000px) {
  header {
    padding: 20px $paddingLR1000;
    a {
      img {
        width: 40px;
      }
      span {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    padding: 20px $paddingLR500;
  }
}

@media (max-width: 400px) {
  header {
    >a {
      >span {
        display: none;
      }
    }
  }
}