@import './../../../../styles.scss';

:host {
  border: 2px dotted white;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 29, 47, 0.8);
  backdrop-filter: blur(20px);
  @include flexBox();
}

header {
  border: 2px dashed yellow;
  @include contentWidth();
  @include flexBox($jc: space-between);
  padding: 40px $paddingLR;
  >a {
    @include flexBox($gap: 16px);
    text-decoration: none;
    span {
      font-size: 32px;
      font-weight: 700;
      &::first-letter {
        color: $secondColor;
      }
    }
    &:hover {
      cursor: pointer;
    }

  }
}