<div><img src="./../../../assets/img/1_above_the_fold_section/shadow_atf.png" alt="shadow"></div>
<section id="above_the_fold_section">
  <div>  
    <div>
      <img src="./../../../assets/img/1_above_the_fold_section/photo_atf.png" alt="photo" data-aos="fade-in">
      <div data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1000" data-aos-anchor="#above_the_fold_section" data-aos-anchor-placement="top-bottom">
        <div [ngClass]="{'german': isGerman}">
          <span>{{'atf_span1' | translate}}</span>
          <div>
            <h1>Hassan Ammar</h1>
            <h2>{{'atf_h2' | translate}}</h2>
          </div>
        </div>
        <div data-aos="zoom-in" data-aos-delay="3000" data-aos-duration="200" data-aos-anchor="#above_the_fold_section" data-aos-anchor-placement="top-bottom">
              <a href="#contact_section"><button>{{'atf_button' | translate}}</button></a>
        </div>
      </div>
    </div>
    <div class="info">
      <div>
        <div data-aos="fade-right" data-aos-delay="1000" data-aos-duration="200" data-aos-anchor="#above_the_fold_section" data-aos-anchor-placement="top-bottom"></div>
        <a href="https://github.com/a94hassan" target=_blank data-aos="zoom-in" data-aos-delay="1200" data-aos-duration="200" data-aos-anchor="#above_the_fold_section" data-aos-anchor-placement="top-bottom" ><img src="./../../../assets/img/1_above_the_fold_section/github_icon_atf.png" alt="github icon"></a>
        <a href="#contact_section" data-aos="zoom-in" data-aos-delay="1400" data-aos-duration="200" data-aos-anchor="#above_the_fold_section" data-aos-anchor-placement="top-bottom"><img src="./../../../assets/img/1_above_the_fold_section/email_icon_atf.png" alt="email icon"></a>
        <a href="https://www.linkedin.com/in/hassan-ammar-/" target=_blank data-aos="zoom-in" data-aos-delay="1600" data-aos-duration="200" data-aos-anchor="#above_the_fold_section" data-aos-anchor-placement="top-bottom"><img src="./../../../assets/img/1_above_the_fold_section/linkedin_icon_atf.png" alt="linkedin icon"></a>
        <a href="mailto:contact@hassan-ammar.com" data-aos="zoom-in" data-aos-delay="2000" data-aos-duration="200" data-aos-anchor="#above_the_fold_section" data-aos-anchor-placement="top-bottom"><span>contact&#64;hassan-ammar.com</span></a>
      </div>
      <div data-aos="fade-down" data-aos-delay="3000" data-aos-duration="3000">
        <span>{{'atf_span2' | translate}}</span>
        <img src="./../../../assets/img/1_above_the_fold_section/arrow_down_atf.png" alt="arrow down icon">
      </div>
    </div>
  </div>
  <div><img src="./../../../assets/img/1_above_the_fold_section/vector_atf.png" alt="vector"></div>
</section>