@import './../../../styles.scss';

:host {
  height: 100vh;
  height: 100svh;
  width: 100%;
  @include flexBox();
  >div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-380px) translateY(140px);
    >img {
      width: 100%;
    }
  }
}

section {
  position: static;
  z-index: 1;
  height: 100vh;
  height: 100svh;
  scroll-margin-top: 100px;
  @include contentWidth();
  @include flexBox($fd: column);
  >div:first-of-type {
    width: 100%;
    padding: 0 $paddingLR;
    @include flexBox($fd: column);
    overflow-x: visible;
    >div:first-of-type {
      width: 100%;
      @include flexBox($jc: space-between);
      >img {
        width: 500px;
        margin-top: 64px;
      }
      >div:first-of-type {
        @include flexBox($fd: column, $gap: 32px, $ai: flex-end);
        transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
        position: relative;
        z-index: 4;
        >div:first-of-type {
          @include flexBox();
          >span {
            margin-top: -14px;
            font-size: 59px;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
          }
          >div {
            >h1 {
              margin: -24px 0;
              font-size: 76px;
            }
            >h2 {
              font-size: 57.5px;
              font-weight: 400;
              color: $firstColor;
            }
          }
        }
        >div:last-of-type {
          width: 100%;
          height: 64px;
          transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
          @include flexBox();
          button {
            @include button();
          }
        }
      }
    }
  }
  >div:last-of-type {
    width: 100%;
    position: absolute;
    overflow-x: clip;
    top: 28%;
    >img {
      width: 100%;
      position: absolute;
    }
  }
}

.german {
  >span {
    font-size: 38px !important;
  }
  >div {
    >h2 {
      font-size: 53.2px !important;
    }
  }
}


.info {
  @include contentWidth();
  @include flexBox($jc: space-between, $ai: flex-end);
  padding-right: 100px;
  position: absolute;
  z-index: 3;
  bottom: 8px;
  >div:first-of-type {
    @include flexBox($gap: 40px);
    >div{
      height: 4px;
      width: 100px;
      background-color: $firstColor;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    }
    >a {
      @include flexBox();
      text-decoration: none;
      transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
      >img {
        width: 30px;
        &:hover {
          cursor: pointer;
          scale: 1.4;
        }
      }
      >span {
        font-size: 24px;
        &:hover {
          cursor: pointer;
          color: $secondColor;
        }
      }
    }
  }
  >div:last-of-type {
    @include flexBox($fd: column, $gap: 12px);
    animation: bounce 2s ease infinite;
    >span {
      font-size: 24px;
      writing-mode: vertical-lr;
      line-height: 1.25;
    }
  }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

@media (max-width: 3440px) {
  section {
    >div:last-of-type {
      position: absolute;
      top: 9%;
    }
  }
}

@media (max-width: 2560px) {
  section {
    >div:last-of-type {
      position: absolute;
      top: 24%;
    }
  }
}

@media (max-width: 1920px) {
  section {
    >div:last-of-type {
      position: absolute;
      top: 28%;
    }
  }
}

@media (max-width: 1800px) {
  section {
    >div:last-of-type {
      position: absolute;
      top: 34%;
    }
  }
}

@media (max-width: 1700px) {
  section {
    >div:last-of-type {
      position: absolute;
      top: 36%;
    }
  }
}

@media (max-width: 1600px) {
  section {
    >div:last-of-type {
      position: absolute;
      top: 39%;
    }
  }
}

@media (max-width: 1500px) {
  section {
    >div:last-of-type {
      position: absolute;
      top: 41%;
    }
  }
}

@media (max-width: 1440px) {
  :host {
    >div {
      transform: translate(-50%, -50%) translateX(-24vw) translateY(12vh);
    }
  }

  section {
    >div:first-of-type {
      >div:first-of-type {
        >img {
          width: 40%;
        }
        >div:first-of-type {
          >div:first-of-type {
            >span {
              font-size: 4vw;
            }
            >div {
              h1 {
                font-size: 5.2vw;
              }
              h2 {
                font-size: 3.9vw;
              }
            }
          }
        }
      }
    }
    >div:last-of-type {
      top: 42%;
    }
  }

  .german {
    >span {
      font-size: 2.5vw !important;
    }
    >div {
      >h2 {
        font-size: 3.64vw !important;
      }
    }
  }
}

@media (width: 1366px) and (height: 768px) {
  section {
    >div:first-of-type {
      >div:first-of-type {
        >img {
          width: unset;
          height: 70vh;
        }
      }
    }
    >div:last-of-type {
      top: 35%;
    }
  }
}


@media (max-width: 1200px) {
  section {
    >div:first-of-type {
      >div:first-of-type {
        >img {
          width: 40%;
        }
        >div:first-of-type {
          margin-top: 40px;
          >div:first-of-type {
            >span {
              font-size: 3.6vw;
            }
            >div {
              h1 {
                font-size: 5vw;
              }
              h2 {
                font-size: 3.75vw;
              }
            }
          }
        }
      }
    }
    >div:last-of-type {
      top: 42%;
    }
  }

  .german {
    >span {
      font-size: 2.3vw !important;
    }
    >div {
      >h2 {
        font-size: 3.49vw !important;
      }
    }
  }
}



@media (max-width: 1000px) {
  :host {
    >div {
      transform: translate(-50%, -50%) translateX(-11vw) translateY(2vh);
      >img {
        width: 140%;
      }
    }
  }

  section {
    >div:first-of-type {
      padding: 0 $paddingLR1000;
      >div:first-of-type {
        @include flexBox($fd: column);
        >img {
          width: 40%;
        }
        >div:first-of-type {
          >div:first-of-type {
            >span {
              font-size: 4.3vw;
            }
            >div {
              h1 {
                font-size: 6vw;
              }
              h2 {
                font-size: 4.5vw;
              }
            }
          }
        }
      }
    }
    >div:last-of-type {
      top: 36%;
    }
  }

  .info {
    padding-right: 50px;
    >div:first-of-type {
      >div {
        width: 50px;
      }
      >a {
        >span {
          font-size: 18px;
        }
      }
    }
    >div:last-of-type {
      >span {
        font-size: 18px;
      }
    }
  }

  .german {
    >span {
      font-size: 2.7vw !important;
    }
    >div {
      >h2 {
        font-size: 4.2vw !important;
      }
    }
  }
}

@media (max-width: 900px) {
  :host {
    >div {
      transform: translate(-50%, -50%) translateX(-16vw) translateY(1vh);
      >img {
        width: 160%;
      }
    }
  }

  section {
    >div:first-of-type {
      >div:first-of-type {
        >img {
          width: 50%;
        }
      }
    }
    >div:last-of-type {
      top: 42%;
    }
  }
}

@media (max-width: 800px) {
  section {
    >div:first-of-type {
      >div:first-of-type {
        >img {
          width: 60%;
        }
        >div:first-of-type {
          @include flexBox($fd: column, $gap: 16px);
          >div:first-of-type {
            >span {
              font-size: 4.5vw;
              margin-bottom: 4px;
            }
            >div {
              h1 {
                font-size: 6.5vw;
              }
              h2 {
                font-size: 4.9vw;
              }
            }
          }
        }
      }
    }
    >div:last-of-type {
      top: 46%;
    }
  }

  .german {
    >span {
      font-size: 2.9vw !important;
    }
    >div {
      >h2 {
        font-size: 4.55vw !important;
      }
    }
  }
}

@media (max-width: 720px) {
  :host {
    >div {
      transform: translate(-50%, -50%) translateX(-20vw);
      >img {
        width: 180%;
      }
    }
  }

  section {
    >div:first-of-type {
      >div:first-of-type {
        >img {
          width: 70%;
        }
        >div:first-of-type {
          >div:first-of-type {
            >span {
              font-size: 4.9vw;
              margin-bottom: 4px;
            }
            >div {
              h1 {
                font-size: 7vw;
              }
              h2 {
                font-size: 5.25vw;
              }
            }
          }
        }
      } 
    }
    >div:last-of-type {
      top: 48%;
    }
  }

  .info {
    >div:first-of-type {
      >a {
        >span {
          display: none;
        }
      }
    }
  }

  .german {
    >span {
      font-size: 3vw !important;
    }
    >div {
      >h2 {
        font-size: 4.9vw !important;
      }
    }
  }
}

@media (max-width: 600px) {
  :host {
    >div {
      transform: translate(-50%, -50%) translateX(-26vw);
      >img {
        width: 200%;
      }
    }
  }

  section {
    >div:first-of-type {
      >div:first-of-type {
        >img {
          width: 85%;
        }
        >div:first-of-type {
          >div:first-of-type {
            >span {
              font-size: 5.4vw;
              margin-bottom: 8px;
            }
            >div {
              >h1 {
                font-size: 7.5vw;
              }
              >h2 {
                margin-top: 8px;
                font-size: 5.7vw;
              }
            }
          }
        }
      }
    }
    >div:last-of-type {
      top: 50%;
    }
  }

  .german {
    >span {
      font-size: 3.5vw !important;
    }
    >div {
      >h2 {
        font-size: 5.25vw !important;
      }
    }
  }
}

@media (max-width: 500px) {
  section {
    >div:first-of-type {
      padding: 0 $paddingLR500;
      >div:first-of-type {
        >div:first-of-type {
          >div:first-of-type {
            >span {
              font-size: 6.3vw;
              margin-bottom: 8px;
            }
            >div {
              >h1 {
                font-size: 8.4vw;
              }
              >h2 {
                margin-top: 12px;
                font-size: 6.3vw;
              }
            }
          }
          >div:last-of-type {
            button {
              @include button($mobile: true);
            }
          }
        }
      }
    }
    >div:last-of-type {
      top: 52%;
    }
  }

  .info {
    padding-right: 20px;
    >div:first-of-type {
      >div {
        width: 20px;
      }
    }
  }

  .german {
    >span {
      font-size: 4.2vw !important;
    }
    >div {
      >h2 {
        font-size: 5.85vw !important;
      }
    }
  }
}

@media (max-width: 400px) {
  section {
    >div:first-of-type {
      >div:first-of-type {
        >img {
          max-height: 50vh;
          width: unset;
        }
        >div:first-of-type {
          >div:first-of-type {
            >span {
              font-size: 6vw;
              margin-bottom: 8px;
            }
            >div {
              >h1 {
                font-size: 8.4vw;
              }
              >h2 {
                margin-top: 12px;
                font-size: 6.3vw;
              }
            }
          }
        }
      }
    }
    >div:last-of-type {
      top: 50vh;
    }
  }

  .info {
    >div:last-of-type {
      display: none;
    }
  }

  .german {
    >span {
      font-size: 4vw !important;
    }
    >div {
      >h2 {
        font-size: 5.85vw !important;
      }
    }
  }
}