<div><img src="./../../../assets/img/2_about_me_section/shadow_about-me.png" alt="shadow"></div>
<section id="about_me_section">
  <div id="about_me" data-aos="fade-in" data-aos-anchor="#about_me" data-aos-anchor-placement="top-bottom">
    <div>
      <h1>{{'about_me_h1' | translate}}</h1>
      <p>{{'about_me_p1' | translate}}</p>
      <div>
        <img src="./../../../assets/img/2_about_me_section/bulb_icon_about_me.png" alt="bulb icon">
        <p>{{'about_me_p2' | translate}}</p>
      </div>
      <div>
        <img src="./../../../assets/img/2_about_me_section/puzzle_icon_about_me.png" alt="puzzle icon">
        <p>{{'about_me_p3' | translate}}</p>
      </div>
    </div>
  </div>
  <div>
    <div data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-anchor="#about_me" data-aos-delay="1000">
      <img src="./../../../assets/img/2_about_me_section/photo_about_me.png" alt="photo">
    </div>
    <div data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-anchor="#about_me" data-aos-delay="1000"></div>
  </div>
</section>
