<img src="./../../../assets/img/2_about_me_section/vector_about_me.png" alt="vector">
<div><img src="./../../../assets/img/2_about_me_section/shadow_about-me.png" alt="shadow"></div>
<section>
  <div>
    <h1>About me</h1>
    <p>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur. </p>
    <div>
      <img src="./../../../assets/img/2_about_me_section/bulb_icon_about_me.png" alt="bulb icon">
      <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    </div>
    <div>
      <img src="./../../../assets/img/2_about_me_section/puzzle_icon_about_me.png" alt="puzzle icon">
      <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    </div>
  </div>
  <div>
    <div>
      <img src="./../../../assets/img/2_about_me_section/photo_about_me.png" alt="photo">
    </div>
    <div></div>
  </div>
</section>
