<img src="./../../../assets/img/2_about_me_section/vector_about_me.png" alt="vector">
<div><img src="./../../../assets/img/2_about_me_section/shadow_about-me.png" alt="shadow"></div>
<section id="about_me_section">
  <div id="about_me" data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000">
    <h1>About me</h1>
    <p>Hey there! I'm a frontend developer hailing from Saarbrücken, Germany. Programming is not just my job; it's my passion. I'm dedicated to crafting creative solutions and turning innovative ideas into reality.</p>
    <div>
      <img src="./../../../assets/img/2_about_me_section/bulb_icon_about_me.png" alt="bulb icon">
      <p>My proficiency in key tech stacks for frontend development makes me a capable developer. With both experience and enthusiasm, I'm adept at tackling demanding projects.</p>
    </div>
    <div>
      <img src="./../../../assets/img/2_about_me_section/puzzle_icon_about_me.png" alt="puzzle icon">
      <p>The intensive course at the Developer Akademie has equipped me well for the job ahead. I'm brimming with confidence and ready to showcase my skills in a challenging work setting.</p>
    </div>
  </div>
  <div>
    <div data-aos="fade-left" data-aos-anchor-placement="top-center" data-aos-anchor="#about_me">
      <img src="./../../../assets/img/2_about_me_section/photo_about_me.png" alt="photo">
    </div>
    <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-anchor="#about_me" data-aos-delay="1000"></div>
  </div>
</section>
