@import './../../../styles.scss';

:host {
  width: 100%;
  @include flexBox($fd: column);
}

section {
  scroll-margin-top: 120px;
  position: relative;
  z-index: 3;
  padding: 144px 0px;
  @include contentWidth();
  @include flexBox();
  >div:first-of-type {
    flex: 1;
    padding-left: 100px;
    line-height: 1.25;
    >div {
      @include flexBox($fd: column, $ai: flex-start);
      width: 480px;
      >h1 {
        font-size: 90px;
        margin-bottom: 16px;
      }
      >p {
        margin-bottom: 32px;
      }
      >div {
        margin-bottom: 32px;
        @include flexBox($ai: flex-start);
        >img {
          padding: 0px 32px;
        }
      }
    }
  }
  >div:last-of-type {
    flex: 1;
    @include flexBox();
    >div:first-of-type {
      transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
      >img {
        width: 450px;
        border-radius: 50%;
        border: 4px solid $secondColor;
        background-color: $bgColor;
      }
    }
    >div:last-of-type {
      height: 4px;
      width: 100%;
      background-color: $secondColor;
    }
  }
}

@media (max-width: 1440px) {
:host {
  overflow-x: clip;
  >div {
    >img {
      transform: translate(30vw, -20vh);
    }
  }
}

section {
  >div:first-of-type {
    >div {
      margin-right: 10vw;
      >h1 {
        font-size: clamp(50px, 6.5vw, 90px);
      }
    }
  }
  >div:last-of-type {
    width: unset;
    >div:first-of-type {
      >img {
        width: 30vw;
      }
    }
  }
 }
}

@media (max-width: 1200px) {
  section {
    >div:first-of-type {
      >div {
        margin-right: 8vw;
        width: 40vw;
      }
    }
  }
}

@media (max-width: 1000px) {
  section {
    >div:first-of-type {
      padding-left: 50px;
      >div {
        margin-right: 5vw;
        width: 50vw;
      }
    }
  }
}

@media (max-width: 720px) {
  :host {
    >div {
      >img {
        transform: translate(20vw, -20vh);
        width: 100%;
      }
    }
  }

  section {
    padding: 100px 0px;
    >div:first-of-type {
      padding: 0 $paddingLR1000;
      >div {
        width: 100%;
      }
    }
    >div:last-of-type {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  :host {
    >div {
      >img {
        transform: translate(20vw, -10vh);
        width: 120vw;
      }
    }
  }
  
  section {
    >div:first-of-type {
      padding: 0 $paddingLR500;
      >div {
        >h1 {
          font-size: clamp(40px, 10vw, 60px);
        }
      }
    }
  }
}

@media (max-width: 400px) {


  section {
    padding: 72px 0px;
    >div:first-of-type {
      >div {
        >div {
          >img {
            padding: 0px 8px;
          }
        }
      }
    }
  }
}