img:first-of-type {
  position: absolute;
  z-index: -2;
  top: 0;
  width: 100%;
  object-fit: contain;
  animation: parallaxBack linear;
  animation-timeline: scroll();
}

img:last-of-type {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 100%;
  object-fit: contain;
  animation: parallaxFront linear;
  animation-timeline: scroll();
}

@keyframes parallaxFront {
  to {
    transform: translateY(30%);
  }
}

@keyframes parallaxBack {
  to {
    transform: translateY(60%);
  }
}