@import './../../styles.scss';

:host {
  border: 2px dashed blue;
  width: 100%;
  @include flexBox();
}

section {
  border: 2px dashed orange;
  @include contentWidth();
  @include flexBox($fd: column);
  margin: 160px 0px;
  background-image: url(./../../assets/img/7_privacy_policy/shadow_privacy_policy.png);
  background-repeat: no-repeat;
  background-position: right top;
  >div:first-of-type {
    border: 2px dashed green;
    width: 100%;
    @include flexBox($fd: column);
    >div {
      border: 2px dashed purple;
      width: 100%;
      @include flexBox();
      >div:first-of-type {
        width: 100%;
        @include flexBox($jc: flex-end);
        >div {
          width: 120px;
          height: 4px;
          background-color: $firstColor;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
      }
      >h1 {
        min-width: max-content;
        font-size: 90px;
        padding: 0px 40px;
        transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
      }
      >div:last-of-type {
        height: 4px;
        width: 100%;
        background-color: $firstColor;
      }
    }
    >span {
      margin-top: 16px;
      text-align: center;
      padding: 0px $paddingLR;
    }
  }
  >div:last-of-type {
    padding: $paddingLR;
    >h4 {
      font-size: 24px;
      font-weight: 400;
      color: $firstColor;
      margin-bottom: 4px;
    }
    >p {
      margin-bottom: 64px;
    }
    >ul {
      margin-top: 16px;
      padding: unset;
      >li {
        list-style: none;
        &:first-of-type {
          margin-bottom: 4px;
        }
        &:last-of-type {
          margin-top: 8px;
          >a {
            text-decoration: none;
            &:hover {
              cursor: pointer;
              text-decoration: underline 2px $secondColor;
              text-underline-offset: 8px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1440px) {
  section {
    >div:first-of-type {
      >div {
        >div:first-of-type {
          >div {
            width: 24%;
          }
        }
        >h1 {
          font-size: clamp(50px, 6.5vw, 90px);
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  section {
    margin: 120px 0px;
    background-position: right -100px top;
    >div:first-of-type {
      >div {
        >div:first-of-type {
          >div {
            width: 24%;
          }
        }
        >h1 {
          padding: 0px 20px;
        }
      }
      >span {
        padding: 0px $paddingLR1000;
      }
    }
    >div:last-of-type {
      padding: $paddingLR1000;
    }
  }
}

@media(max-width: 500px) {
  section {
    background-position: right -200px top;
    >div:first-of-type {
      >div {
        >div:first-of-type {
          >div {
            width: 24%;
          }
        }
        >h1 {
          font-size: clamp(40px, 10vw, 60px);
          padding: 0px 10px;
        }
      }
      >span {
        padding: 0px $paddingLR500;
      }
    }
    >div:last-of-type {
      padding: $paddingLR500;
    }
  }
}