<section id="privacy_policy">
  <div>
    <div>
      <div>
        <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#privacy_policy"></div>
      </div>
      <h1 data-aos="fade-left" data-aos-anchor-placement="top-center" data-aos-anchor="#privacy_policy">Privacy Policy</h1>
      <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#privacy_policy"></div>
    </div>
    <span data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#privacy_policy">This Privacy Policy outlines how I, Hassan Ammar, collect and handle your personal information when you visit my website. As the sole creator of this portfolio, I am committed to maintaining your privacy and ensuring the security of any personal information you provide.</span>
  </div>
  <div data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-delay="2000" data-aos-anchor="#privacy_policy">
    <h4>Collection of Personal Information</h4>
    <p>I may collect personal information from you when you voluntarily fill out a contact form on my website. This information typically includes your name and email address, along with any message you choose to send me.</p>
    
    <h4>Use of Personal Information</h4>
    
    <p>I use the personal information you provide solely for the purpose of responding to your inquiries or messages. I do not use this information for any other purpose, such as marketing or promotional activities.</p>
    
    <h4>Protection of Personal Information</h4>
    
    <p>Your privacy and the security of your personal information are of utmost importance to me. I have implemented appropriate measures to safeguard your information from unauthorized access or disclosure.</p>
    
    <h4>Sharing of Personal Information</h4>
    
    <p>I do not share, sell, or trade your personal information with third parties. Your information remains confidential and is only accessible to me for handling inquiries or maintaining my website.</p>
    
    <h4>Cookies</h4>
    
    <p>I do not use cookies on my website. Therefore, no information is automatically collected about your visit or browsing activities.</p>
    
    <h4>Links to Third-Party Websites</h4>
    
    <p>My website may contain links to third-party websites for informational purposes only. I do not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>
    
    <h4>Changes to this Privacy Policy</h4>
    
    <p>I reserve the right to update or modify this Privacy Policy as necessary. Any changes will be posted on this page.</p>
    
    <h4>Contact Me</h4>
    
    <span>If you have any questions or concerns regarding this Privacy Policy or the handling of your personal information, please don't hesitate to contact me using the information provided below:</span>
    <ul>
      <li><b>Hassan Ammar</b></li>
      <li>Arndtstraße 14-16</li>
      <li>66121 Saarbrücken</li>
      <li>Deutschland</li>
      <li>Email: <a href="mailto:contact@hassan-ammar.com">contact&#64;hassan-ammar.com</a></li>
    </ul>
  </div>
</section>