<footer>
  <div>
      <a href="#above_the_fold_section"><img src="./../../../../assets/img/6_footer/logo_footer.png" alt="logo"><span>H. Ammar</span></a>
      <a href="privacy_policy">Privacy Policy</a>
      <a href="legal_notice">Legal Notice</a>
  </div>
  <span>© Hassan Ammar 2024</span>
  <div>
    <a href="https://github.com/a94hassan" target=_blank><img src="./../../../../assets/img/6_footer/github_icon_footer.png" alt="github icon"></a>
    <a href="#contact_section"><img src="./../../../../assets/img/6_footer/email_icon_footer.png" alt="email icon"></a>
    <a href="https://www.linkedin.com/in/hassan-ammar-/" target=_blank><img src="./../../../../assets/img/6_footer/linkedin_icon_footer.png" alt="linkedin icon"></a>
  </div>
</footer>
