<section id="legal_notice">
  <div>
    <div>
      <div>
        <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#legal_notice"></div>
      </div>
      <h1 data-aos="fade-left" data-aos-anchor-placement="top-center" data-aos-anchor="#legal_notice">Legal Notice</h1>
      <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#legal_notice"></div>
    </div>
    <span data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#legal_notice">This website is owned and operated by Hassan Ammar, who is responsible for its content and can be contacted using the information provided below.</span>
  </div>
  <div data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-delay="2000" data-aos-anchor="#legal_notice">
    <h4>Contact Information and Legal Responsibility</h4>
    <ul>
      <li><b>Hassan Ammar</b></li>
      <li>Arndtstraße 14-16</li>
      <li>66121 Saarbrücken</li>
      <li>Deutschland</li>
      <li>Email: <a href="mailto:contact@hassan-ammar.com">contact&#64;hassan-ammar.com</a></li>
    </ul>

    <h4>Disclaimer</h4>
    
    <p>The content provided on this website is for informational purposes only. While I strive to keep the information up to date and accurate, I make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
    
    <h4>Intellectual Property</h4>
    
    <p>All content, including but not limited to text, images, graphics, and code, contained on this website is owned by me unless otherwise stated. Unauthorized use, reproduction, or distribution of any content from this website is strictly prohibited.</p>
    
    <h4>External Links</h4>
    
    <p>This website may contain links to external websites that are provided by me for informational purposes only. I do not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.</p>
    
    <h4>Changes to this Legal Notice</h4>
    
    <p>I reserve the right to update or modify this Legal Notice at any time without prior notice. Any changes will be posted on this page.</p>
    
    <h4>Contact Me</h4>
    
    <p>If you have any questions or concerns regarding this Legal Notice or wish to contact me for any reason, please use the contact information provided above.</p>
  </div>
</section>
