<div><img src="./../../assets/img/8_legal_notice/shadow_legal_notice.png" alt="shadow"></div>
<section id="legal_notice">
  <div>
    <div>
      <div>
        <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#legal_notice"></div>
      </div>
      <h1 data-aos="fade-left" data-aos-anchor-placement="top-center" data-aos-anchor="#legal_notice">{{'legal_notice_h1' | translate}}</h1>
      <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#legal_notice"></div>
    </div>
    <span data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#legal_notice">{{'legal_notice_span' | translate}}</span>
  </div>
  <div data-aos="fade-right" data-aos-anchor-placement="top-center" data-aos-delay="2000" data-aos-anchor="#legal_notice">
    <h4>{{'legal_notice_h41' | translate}}</h4>
    <ul>
      <li><b>Hassan Ammar</b></li>
      <li>Arndtstraße 14-16</li>
      <li>66121 Saarbrücken</li>
      <li>Deutschland</li>
      <li>Email: <a href="mailto:contact@hassan-ammar.com">contact&#64;hassan-ammar.com</a></li>
    </ul>

    <h4>{{'legal_notice_h42' | translate}}</h4>
    <p>{{'legal_notice_p1' | translate}}</p>
    
    <h4>{{'legal_notice_h43' | translate}}</h4>
    <p>{{'legal_notice_p2' | translate}}</p>
    
    <h4>{{'legal_notice_h44' | translate}}</h4>
    <p>{{'legal_notice_p3' | translate}}</p>
    
    <h4>{{'legal_notice_h45' | translate}}</h4>
    <p>{{'legal_notice_p4' | translate}}</p>
    
    <h4>{{'legal_notice_h46' | translate}}</h4>
    <p>{{'legal_notice_p5' | translate}}</p>
  </div>
</section>
