@import './../../../styles.scss';

:host {
  width: 100%;
  max-width: 100vw;
  padding-top: 100px;
  padding-bottom: 200px;
  @include flexBox();
  >div:first-of-type {
    @include contentWidth();
    position: absolute;
    >img {
      margin-bottom: -720px;
    }
  }
}

section {
  scroll-margin-top: 320px;
  position: relative;
  z-index: 1;
  @include contentWidth();
  @include flexBox($jc: space-between);
  >a {
    display: none;
    >button {
      @include button();
    }
  }
  >div:first-of-type {
    width: 60%;
    padding-left: 100px;
    @include flexBox($jc: unset, $gap: 32px);
    flex-wrap: wrap;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    >div {
      @include flexBox($fd: column, $gap: 12px);
      width: 84px;
      height: 120px;
      text-align: center;
      line-height: 1.25;
      margin-right: 78px;
    }
  }
  >div:last-of-type {
    width: 40%;
    @include flexBox($fd: column, $ai: flex-end, $gap: 20px);
    >div:first-of-type {
      @include flexBox($jc: flex-end);
      >h1 {
        font-size: 90px;
      }
      >div {
        height: 4px;
        width: 60px;
        background-color: $firstColor;
        margin-left: 40px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
    >p {
      padding-right: 100px;
      line-height: 1.25;
      text-align: right;
    }
    >div:last-of-type {
      width: 100%;
      padding-right: 100px;
      padding-left: 5vw;
      margin-top: 32px;
      @include flexBox();
      button {
        @include button();
      }
    }
  }
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.trigger:hover .target {
  -webkit-animation-name: hvr-bob;
  animation-name: hvr-bob;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media(max-width: 1440px) {
  section {
    >div:first-of-type {
      >div {
        margin-right: 10%;
      }
    }
    >div:last-of-type {
      >div:first-of-type {
        >h1 {
          font-size: clamp(50px, 6.5vw, 90px);
        }
      }
    }
  }
}

@media(max-width: 1400px) {
  section {
    >div:first-of-type {
      >div {
        margin-right: 8%;
      }
    }
  }
}

@media(max-width: 1300px) {
  section {
    >div:first-of-type {
      >div {
        margin-right: 7%;
      }
    }
  }
}

@media(max-width: 1200px) {
  section {
    >div:first-of-type {
      >div {
        margin-right: 13%;
      }
    }
  }
}

@media(max-width: 1100px) {
  section {
    >div:first-of-type {
      >div {
        margin-right: 11%;
      }
    }
  }
}

@media(max-width: 1000px) {
  :host {
    >div:first-of-type {
      >img {
        margin-left: -80px;
      }
    }
  }

  section {
    >div:first-of-type {
      padding-left: $paddingLR1000;
    }
    >div:last-of-type {
      >div:first-of-type {
        >div {
          width: 32px;
          margin-left: 18px;
        }
      }
      >p {
        padding-right: $paddingLR1000;
      }
      >div:last-of-type {
        padding-right: $paddingLR1000;
      }
    }
  }
}

@media(max-width: 900px) {
  section {
    >div:first-of-type {
      @include flexBox($jc: unset, $gap: 24px);
      >div {
        width: 78px;
        margin-right: 7%;
        >img {
          width: 50px;
        }
        >span {
          font-size: 14px;
        }
      }
    }
    >div:last-of-type {
      >div:last-of-type {
        padding-right: $paddingLR1000;
        padding-left: unset;
      }
    }
  }
}

@media(max-width: 720px) {
  :host {
    padding-top: 80px;
    padding-bottom: 160px;
  }

  section {
    @include flexBox($fd: column-reverse, $gap: 40px);
    >a {
      display: unset;
    }
    >div:first-of-type {
      width: 100%;
      padding: 0px $paddingLR1000;
      @include flexBox($gap: 24px);
      >div {
        margin: 0px 3%
      }
    }
    >div:last-of-type {
      width: 100%;
      padding-left: $paddingLR1000;
      >div:last-of-type {
        display: none;
      }
    }
  }
}

@media(max-width: 500px) {
  :host {
    >div:first-of-type {
      >img {
        margin-left: -160px;
      }
    }
  }

  section {
    >a {
      >button {
        @include button($mobile: true);
      }
    }
    >div:first-of-type {
      padding: 0px $paddingLR500;
      @include flexBox($gap: 16px);
    }
    >div:last-of-type {
      padding-left: $paddingLR500;
      >div:first-of-type {
        >div {
          width: 16px;
          margin-left: 4px;
        }
        >h1 {
          font-size: clamp(40px, 10vw, 60px);
        }
      }
      >p {
        padding-right: $paddingLR500;
      }
    }
  }
}

@media(max-width: 400px) {
  :host {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  section {
    >div:first-of-type {
      @include flexBox($gap: 16px);
      >div {
        @include flexBox($fd: column, $gap: 8px);
        width: 64px;
        height: 80px;
        margin: 0px 2%;
        >img {
          width: 40px;
        }
        >span {
          font-size: 12px;
        }
      }
    }
  }
}
