@import './../../../styles.scss';

:host {
  border: 2px dashed blue;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  @include flexBox();
  >div:first-of-type {
    width: $contentWidth;
    position: absolute;
    >img {
      margin-bottom: -720px;
    }
  }
}

section {
  border: 2px dashed yellow;
  position: relative;
  z-index: 1;
  @include contentWidth();
  @include flexBox($jc: space-between);
  >div:first-of-type {
    border: 2px dashed red;
    width: 60%;
    padding-left: 100px;
    @include flexBox($jc: unset, $gap: 32px);
    flex-wrap: wrap;
    >div {
      @include flexBox($fd: column, $gap: 12px);
      width: 84px;
      height: 120px;
      text-align: center;
      line-height: 1.25;
      margin-right: 80px;
    }
  }
  >div:last-of-type {
    border: 2px dashed green;
    width: 40%;
    @include flexBox($fd: column, $ai: flex-end, $gap: 20px);
    >div:first-of-type {
      @include flexBox($jc: flex-end);
      >h1 {
        font-size: 90px;
      }
      >div {
        height: 4px;
        width: 60px;
        background-color: $firstColor;
        margin-left: 40px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
    >p {
      margin-right: 100px;
      line-height: 1.25;
      text-align: right;
    }
    >div:last-of-type {
      width: 100%;
      padding-left: 52px;
      padding-right: 100px;
      margin-top: 32px;
      @include flexBox();
      >button {
        @include button();
      }
    }
  }
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.trigger:hover .target {
  -webkit-animation-name: hvr-bob;
  animation-name: hvr-bob;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; 
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}