<section id="portfolio_section">
  <div>
    <div>
      <div>
        <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#portfolio_section"></div>
      </div>
      <h1 data-aos="fade-left" data-aos-anchor-placement="top-center" data-aos-anchor="#portfolio_section">Portfolio</h1>
      <div data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#portfolio_section"></div>
    </div>
    <span data-aos="fade-in" data-aos-anchor-placement="top-center" data-aos-delay="1000" data-aos-anchor="#portfolio_section">Explore a selection of my work here - Interact with projects to see my skills in action.</span>
  </div>
  <app-project></app-project>
</section>



