@import './../../../styles.scss';

:host {
  width: 100%;
  max-width: 100vw;
  @include flexBox();
  overflow-x: clip;
  >div {
    width: 100%;
    position: absolute;
    z-index: 1;
    overflow-x: clip;
    @include flexBox();
    >img {
      margin-right: -1400px;
    }
  }
}

section {
  scroll-margin-top: 120px;
  @include contentWidth();
  @include flexBox($fd: column);
  position: relative;
  z-index: 2;
  >div:first-of-type {
    width: 100%;
    @include flexBox($fd: column);
    >div {
      width: 100%;
      @include flexBox();
      >div:first-of-type {
        width: 100%;
        @include flexBox($jc: flex-end);
        >div {
          width: 120px;
          height: 4px;
          background-color: $firstColor;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
      }
      >h1 {
        font-size: 90px;
        padding: 0px 40px;
        transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
      }
      >div:last-of-type {
        height: 4px;
        width: 100%;
        background-color: $firstColor;
      }
    }
    >span {
      margin-top: 16px;
      text-align: center;
      padding: 0px $paddingLR;
    }
  }
}

@media(max-width: 1440px) {
  :host {
    >div {
      >img {
        margin-right: -100%;
      }
    }
  }

  section {
    >div:first-of-type {
      >div {
        >div:first-of-type {
          >div {
            width: 24%;
          }
        }
        >h1 {
          font-size: clamp(50px, 6.5vw, 90px);
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  :host {
    >div {
      >img {
        margin-right: -120%;
      }
    }
  }

  section {
    >div:first-of-type {
      >div {
        >h1 {
          padding: 0px 20px;
        }
      }
      >span {
        padding: 0px $paddingLR1000;
      }
    }
  }
}


@media(max-width: 500px) {
  :host {
    >div {
      >img {
        margin-right: -160%;
      }
    }
  }

  section {
    >div:first-of-type {
      >div {
        >h1 {
          font-size: clamp(40px, 10vw, 60px);
          padding: 0px 10px;
        }
      }
      >span {
        padding: 0px $paddingLR500;
      }
    }
  }
}