<div><img src="./../../../assets/img/4_portfolio_section/shadow_portfolio.png" alt="shadow"></div>
<section id="portfolio_section">
  <div>
    <div>
      <div>
        <div data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-anchor="#portfolio_section"></div>
      </div>
      <h1 data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-anchor="#portfolio_section">Portfolio</h1>
      <div data-aos="fade-in" data-aos-anchor-placement="top-bottom"  data-aos-anchor="#portfolio_section"></div>
    </div>
    <span data-aos="fade-in" data-aos-anchor-placement="top-bottom" data-aos-anchor="#portfolio_section">{{'portfolio_span' | translate}}</span>
  </div>
  <app-project></app-project>
</section>



