@for (project of projectsService.projects; track $index) {
  <div [ngClass]="{'mirrored-style': $index % 2 !== 0}" id="project{{$index}}" data-aos="zoom-in" data-aos-anchor-placement="top-center">
    <img src="./../../../../assets/img/4_portfolio_section/{{project.img}}" alt="{{project.name}} image">
    <div>
      <div>
        <h4>{{project.name}}</h4>
        <span>{{project.techStack}}</span>
        <p>{{project.description | translate}}</p>
      </div>
      <div>
        <a href="{{project.link}}" target=_blank><button>{{'project_button1' | translate}}</button></a>
        <a href="{{project.github}}" target=_blank><button>Github</button></a>
      </div>
    </div>
  </div>
}

